#!/bin/sh

DJANGODIR={{app_code_dir}}/{{app_name}}

# Activate the virtual environment.
cd $DJANGODIR
. {{virtualenv_dir}}/{{app_name}}/bin/activate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery worker --app={{app_name}}.celeryapp:app -B -l INFO
